<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-squarepay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SquarePayPlugin</name>
  <js-module name="SquarePayPlugin" src="www/SquarePayPlugin.js">
    <clobbers target="cordova.plugins.SquarePayPlugin" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SquarePayPlugin">
        <param name="ios-package" value="SquarePayPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/SquareView.swift" />
    <source-file src="src/ios/SquarePayPlugin.swift" />
    <source-file src="src/ios/Constants.swift" />
    <source-file src="src/ios/Color.swift" />
    <source-file src="src/ios/SquareNavigationController.swift" />
    <source-file src="src/ios/HalfSheetPresentationControllerHeightProtocol.swift" />
    <source-file src="src/ios/SquarePayViewController.swift" />
    <source-file src="src/ios/AppDelegate+SquarePayPlugin.h" />
    <source-file src="src/ios/AppDelegate+SquarePayPlugin.m" />
    <source-file src="src/ios/extension-UIView.swift" />
    <hook type="after_plugin_install" src="scripts/ios/add_build_phase.js" />
    <!-- <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/> -->
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
        <swift-version>4.0</swift-version> <!-- Add Swift version -->
      </config>
      <pods use-frameworks="true">
        <pod name="SquareInAppPaymentsSDK" spec="~> 1.6.3" /> <!-- Add SquareInAppPaymentsSDK -->
        <pod name="SquareBuyerVerificationSDK" spec="~> 1.6.3" />
        <pod name="PromiseKit" spec="~> 8.1.1" />
      </pods>
    </podspec>
  </platform>
  <preference name="deployment-target" value="12.0" />
</plugin>